.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.navbar{
  background: #131313;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar_container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;

}
#navbar_logo{
  background-color: #ff8177;
  background-image: linear-gradient(to top,#FF0844 0%,#e9d6d6 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.navbar_menu{
  display: flex;
  align-items: center;
  list-style:none;
}
.navbar_items{
  height: 80px;
}
.navbar_links{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  text-decoration: none;
  height: 100%;

}
.navbar_button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 1rem;
  width:100%;
}
.button{
  display: flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline:none;
  border-radius: 4px;
  background:#833ab4;
  background:-webkit-linear-gradient(to right,#fcb045,#fd1d1d,#833ab4);
  background:linear-gradient(to right,#fcb045,#fd1dfd,#833ab4);
  color: #fff;
  transition: all 0.3s ease;
}
.navbar_links:hover{
  color: #8e13f3;
  transition: all 0.3s ease;   

}
  
@media screen and (max-width:960px){
  .navbar_container{
    display: flex;
    justify-content: space-between;
    height:80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top:-1000px;
    opacity: 1;
    transition: all 0.5e ease;
    z-index: -1;

  }
  .navbar_menu.active{
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height:60vh;
    font-size: 1.6rem;

  }
  #navbar_logo{
    padding-left: 25px;
  }
  .navbar_toggle .bar{
    width: 25px;
    height: 3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .navbar_item{
 width: 100%;
  }
  .navbar_links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;

  }
  .navbar_button{
    padding: 2rem;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}
#mobile-menu{
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%,20%);
}
.navbar_toggle .bar{
  display:block;
  cursor: pointer;
}
.bar{
  width: 35px;
  height: 5px;
  background-color:white;
  margin: 6px 0;
}
#mobile-menu.is-active.bar:nth-child(2){
 opacity: 0;
}
#mobile-menu.is-active.bar:nth-child(1){
  transform:translate(8px) rotate(45deg);
 }
 #mobile-menu.is-active.bar:nth-child(1){
  transform:translate(-8px) rotate(-45deg);
 }
}

.editor {
  background-color: #282c34;
   min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(7, 7, 7);
}
.editor_wrapper{
  min-width: 50vh;
 min-height: 50vh;
  display: flex;
  flex-direction: column;
  background-color:rgb(97, 96, 96);
  padding: 2cm;
  border-radius:3px;
  border: 1px solid gray;
}
.editor_body{
  flex: 1;
}
.editor_footer{
 display: flex;
}
.editor_footer_left{
 display: flex;
 flex-direction: column;
}
.editor_footer_right{
  flex: 1;
  margin-left: 10px;
  overflow: hidden;
}
.button{
  border: 0;
  padding: .5em;
  background-color: #fff;
  border:2px solid #333;
  margin-top: 1em;
  width:100px;
  cursor: pointer;
  
}
.editor_console{
  background-color: #fff;
  width:100%;
  height: 130px;
  margin-top: .9em;
  border:1px solid rgb(90, 162, 230);
  overflow: auto;
  
}
.editor_code{
  position: relative;
  height:100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  border: 1px solid rgb(73, 179, 240)
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
